.nav-logo {
    height: 80px;
    width: 100px;
}

.nav-title {
    font-size: 20px;
    font-weight: bold;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-login {
    display: flex;
    gap: 10px;
}

nav {
    border-bottom: 1px solid gray;
}